<h1 class="text-center">Game</h1>
<div class="text-center">
    <h3 id="score-display" class="mt-3">Score: <span id="score-span">-</span></h3>
    <canvas id="game-canvas" width="512" height="512" class="border"></canvas>
</div>
<div class="text-center mt-4">
    @if (Model.isHost)
    {
        <button id="start-game-btn" class="btn btn-success" onclick="startGame('@(Model.gameId)');">Start</button>
    }
    else
    {
        <button id="join-game-btn" class="btn btn-warning" onclick="joinGame('@(Model.gameId)');">Ready</button>
    }
</div>