<h1 class="text-center">Create</h1>
<h5 class="text-center position-absolute top-50 start-50 translate-middle">
    Sorry, this feature is not implemented yet :( However, you can check out
    <a asp-controller="Home" asp-action="Browse" class="btn btn-outline-warning">Game modes</a>
    uploaded by developer!
</h5>